$challenge-bg-color: white;
$challenge-header-color: #206276;
$challenge-join-color: #4cc2c4;

.challenges__container {
  margin-top: 1em;
}

.challenge {
  font-size: 2em;
  background-color: $challenge-bg-color;
  border-radius: 0.1em;

  h2 {
    margin: 0; 
  }

  @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 

    font-size: 1em;
  }
}

.challenge__header {
  display: flex;
  justify-content: center;
  margin-top: 0;
  background-color: $challenge-header-color;
  border-radius: 0.1em 0.1em 0 0;
  color: #FAEBD7;
}

.challenge__details {
  display: flex;
  justify-content: space-between;
}

.challenge__image {
  display: flex;
  align-items: center;  
  margin: 0.3em;
}

.challenge__image img {
  width: 3em;
  height: auto;
}

.challenge__join {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  padding: 0.5em;
  background-color: $challenge-join-color;
  justify-content: center;
  border-radius: 0 0 0.1em 0;
}

.challenge__join_btn {
  margin: 0.5em;
  padding: 0.2em 0.4em;
  font-size: 0.7em;
  border: none;
  border: 1px solid black;
}

.challenge__join_btn--enabled:hover {
  background-color: white;
}

.challenge__reward {
  display: flex;
}

.challenge__reward__amt {
  margin-left: 5px;
  color: green;
  font-weight: bold;
}

.challenge__cost {
  display: flex;
  justify-content: center;
  color: #f54785;
  font-weight: bold;
}

.carrot {
  background-image: url(https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/carrot-512.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 5px;
}

.challenge--ended {
  @extend .challenge;
  opacity: 0.5;
}

ul { list-style-type: none; }
label{
  background-color: #AAAFAB;
  border-radius: 5px;
  padding: 3px;
  padding-left: 25px;
  color: white; 
}
li { 
  margin: 10px;
  padding: 5px;
  border: 1px solid #ABC;
  border-radius: 5px;
}

input[type=checkbox] ~ ul { 
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space:nowrap;
   -webkit-transition:all 1s ease;  
   -moz-transition:all 1s ease;  
   -o-transition:all 1s ease;  
   transition:all 1s ease;  
  
}
input[type=checkbox]:checked ~ ul { 
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}
input[type=checkbox] + label:before{
  transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px; 
  border-left-color: white;
  margin-left: -20px;
  width: 0;
  height: 0;
  display: inline-block;
  text-align: center;
  content: '';
  color: #AAAFAB;
   -webkit-transition:all .5s ease;  
   -moz-transition:all .5s ease;  
   -o-transition:all .5s ease;  
   transition:all .5s ease; 
  position: absolute;
  margin-top: 1px;
}
input[type=checkbox]:checked + label:before {
  transform: rotate(90deg);
  /*margin-top: 6px;
  margin-left: -25px;*/
}