$challenge-bg-color: white;
$challenge-header-color: #206276;
$challenge-join-color: #4cc2c4;

.challenge {
  font-size: 2em;
  background-color: $challenge-bg-color;
  border-radius: 0.1em;
  margin: 0.3em;

  h2 {
    margin: 0; 
  }
}

.challenge__header {
  display: flex;
  justify-content: center;
  margin-top: 0;
  background-color: $challenge-header-color;
  border-radius: 0.1em 0.1em 0 0;
  color: #FAEBD7;
}

.challenge__details {
  display: flex;
  justify-content: space-between;
}

.challenge__image {
  display: flex;
  align-items: center;  
  margin: 0.3em;
}

.challenge__image img {
  width: 3em;
  height: auto;
}

.challenge__join {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  padding: 0.5em;
  background-color: $challenge-join-color;
  justify-content: center;
  border-radius: 0 0 0.1em 0;
}

.challenge__join_btn {
  margin: 0.5em;
  padding: 0.2em 0.4em;
  font-size: 0.7em;
  border: none;
  border: 1px solid black;
}

.challenge__join_btn--enabled:hover {
  background-color: white;
}

.challenge__reward {
  display: flex;
}

.challenge__reward__amt {
  margin-left: 5px;
  color: green;
  font-weight: bold;
}

.challenge__cost {
  display: flex;
  justify-content: center;
  color: #f54785;
  font-weight: bold;
}

.carrot {
  background-image: url(https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/carrot-512.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 5px;
}

.challenge--ended {
  @extend .challenge;
  opacity: 0.5;
}