@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$main-bg-color: #f1f2f0;
$main-bg-color: #2f3f43;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  font-size: 16px;
}

.main__body__content {
  max-height: 50vh;
}

.main__body__container {
  display: flex;
  justify-content: space-around;
}
