$prize-bg-color: #2D7475;
$challenge-header-color: #206276;
$challenge-join-color: #4cc2c4;

.prize {
  background-color: $prize-bg-color;
  margin: 0.3em;
}

.prize img {
  height: 5em;
  margin-left: auto;
  margin-right: auto;
}

.prize__card {
  background-color: white;
  padding: 0em 0em 1em 0em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 18px 3px #f54785;
}

@-webkit-keyframes greenPulse {
  from { -webkit-box-shadow: 0 0 9px 5px #white; }
  50% { -webkit-box-shadow: 0 0 18px 8px #f54785; }
  to { -webkit-box-shadow: 0 0 9px 5px #white; }
}

.prize__card__header {
  top: 0;
  background-color: #752E2D;
  width: 100%;
}

.prize__card__header p {
  text-align: right;
  margin: 0;
  color: #FAEBD7;
}

.prize__card__header__cost {
  display: flex;
  right: 0;
  justify-content: flex-end;
}


.prize__descr {
  width: 10em;
  margin-left: 3em;
  margin-right: 3em;
}

.carrot {
  background-image: url(https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/carrot-512.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid black;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-left: 5px;
}