.sidebar {
  background-color: white;
  margin: 1em 0 0 0;
  padding: 0.5em;
}

.sidebar__name {
  font-size: 1.5em;
}

.sidebar__carrots {
  display: flex;
}

.sidebar__image img {
  max-width: 5em;
}

.sidebar__user__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sidebar__nav {
  display: flex;
  flex-flow: column;
  margin: 1em 0 0 0;
}

.sidebar__nav a {
  color: black;
  text-decoration: none;
}

.sidebar__nav a:visited {
  color: black;
  text-decoration: none;
}


.sidebar__link {
  padding: 0.3em;
  display: flex;
  align-items: center;
}

.sidebar__link:hover {
  background-color: #4cc2c4;
}

.sidebar__link img {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}