.user {
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 1em 1em 1em 1em;
  display: flex;
  max-width: 55em;
}

.user__carrot__container {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bolder;
}

.user__date {
  position: absolute;
  top: 5vh;
  left: 1em;
  font-size: 1.5em;
}

.user__statement__container h3 {
  margin: 0.3em 0 0.5em 0;
}